<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoursquareMapped</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <main role="main">
     <%= render 'layouts/messages' %>

     <div class="container">
        <%= yield %>
      </div>
  </main>
  <div class="container">
    <footer>
      <br><p><%= link_to 'Privacy', privacy_path %></p>
    </footer>
  </div>
</body>
</html>
